/Package Control.last-run
/bh_unicode_properties.cache
/.SublimeREPLHistory/
/Package Control.cache/
*.system-ca-bundle
/GoSublime/
/GoSublime-aux.sublime-settings
/JavaSE8.javatar-packages
/Javatar.sublime-settings
*.DS_Store
